button {
    padding: 20px 40px;
    background-color: #000000;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
body{
    margin-left: 10%;
    background-color: rgb(236, 236, 6);
}
