#main {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    position: relative;
}

p {
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

#botoes {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botao {
    background-color: #00ffff;
    color: #fff;
}

.operacao {
    background-color: #28a745;
    color: #fff;
}

#limpar {
    background-color: #dc3545;
    color: #fff;
}

#resultado {
    margin-top: 10px;
    font-weight: bold;
}

body{
    background-image:url(img/f9.png.jpg) ;
}

h1 {
    position: absolute;
    top: -20px;
    left: 10px;
    color: blue;
    
}